<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  
      <ion-title>Cart</ion-title>
      
    </ion-navbar>
  </ion-header>
  
  <ion-content class="bg-style">
    
    <!--  <ion-list>

      <ion-item  *ngFor="let cart of carts">
          <ion-thumbnail item-left>            
          <img src="{{cart.image}}">
          </ion-thumbnail>
          <h2>{{cart.name}}</h2>
          <p>${{cart.price}} x {{cart.quantity}} = ${{cart.price * cart.quantity}}</p>
          
          <button ion-button clear item-right (click)="increment(item)" >
            <ion-icon color="danger" style=" font-size: 25px;" name="ios-arrow-dropup-circle"></ion-icon>
          </button>
          
          <button ion-button clear item-right (click)="decrement(item)" >
            <ion-icon color="danger" style=" font-size: 25px;" name="ios-arrow-dropdown-circle"></ion-icon>
          </button>
          
          <button style=" font-size: 20px;" ion-button clear item-right (click)="remove(item)" >
            <ion-icon color="danger" name="ios-remove-circle"></ion-icon>
          </button>
      </ion-item>
      
      <ion-item *ngIf="(cart | async)?.length" >
          <h2>Grand Total</h2> 
          <h2 item-right >${{cartService.cartAmount}}</h2>
      </ion-item>
        
      <ion-item *ngIf="!(cart | async)?.length" >
        <h2 class="center">Cart is empty</h2>  
               
      </ion-item>
      
      <button fixed ion-button icon-start block color="light" *ngIf="(cart | async)?.length" (click)="checkout()">
          <ion-icon name="ios-cart"></ion-icon>
          Checkout
      </button>    

      </ion-list> -->
      <ion-list>
    
          <ion-item *ngFor="let cart of carts | async">
                {{cart}}
              
  
            </ion-item>
          
        </ion-list>
<ion-list>
    <button fixed ion-button icon-start block color="light" (click)="makeCart()">
        <ion-icon name="ios-cart"></ion-icon>
        cart toevoegen
    </button>  
</ion-list>

  
  </ion-content>
  