.item-md .item-button{
    height: 50px;
    font-size: 1.4rem;
    margin-top:20px;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom: rgb(206, 206, 206) 1px solid;
    box-shadow:none;
}
.item-md{
    padding-right: 16px;
}